:root{
    
    --bleue_base:#06668C;
    --bleue_second:#427AA1;
    --blanc:#EBF2FA;
    --vert_base:#679436;
    --vert_second:#A4BD01;
    --gris:#333;
}
 
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 

/* header */


  


  header {
        font-family: 'Roboto', sans-serif;
        background-color: transparent;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
    }
    
    nav {
      
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    
    .logo img {
        height: 50px;
    }
    
    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    li {
        margin: 0 10px;
    }
    
    a {
        text-decoration: none;
        color: var(--gris);
    }
    .active{
        color: var(--bleue_base) !important;
        font-weight: bold;
    }


    .banner {
        background-image: url("../pictures/fonds/luke-chesser-pJadQetzTkI-unsplash.jpg ");
        background-size: cover;
        background-position: center center;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;

        padding-right: 40px;
      }
      
      .banner h1 {
        color: var(--blanc);
        font-size: 3rem;
        text-align: center;
        text-shadow: 2px 2px var(--gris);
      }
      
      .banner h5{       
        color: var(--blanc);
        font-size: 1.5rem;
        text-align: center;
        text-shadow: 2px 2px var(--gris);
      }
      .banner h6{
        color: var(--blanc);
        font-size: 1rem;
        text-align: center;
        text-shadow: 2px 2px var(--gris);
        border-left: var(--blanc) 5px solid;
        padding-left: 10px;
    }


  
  @media only screen and (max-width: 768px) {
    nav {
      flex-direction: column;
      align-items: flex-start;
    }
    .logo {
      margin-bottom: 20px;
    }
    ul {
      margin: 0;
    }
    li {
      margin: 10px 0;
    }
  }
  