:root{
    
    --bleue_base:#06668C;
    --bleue_second:#427AA1;
    --blanc:#EBF2FA;
    --vert_base:#679436;
    --vert_second:#A4BD01;
    --gris:#333;
    --ecart-haute:50px;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}
 
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Lato:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt&display=swap');
 

/* header */


  
  
    nav {
      
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

        font-family: 'Roboto', sans-serif;
        background-color: var(--blanc);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
    }
    
    .logo img {
        height: 50px;
    }
    
    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    li {
        margin: 0 10px;
    }
    
    a {
        text-decoration: none;
        color: var(--gris);
    }
    .active{
        color: var(--bleue_base) !important;
        font-weight: bold;
    }


    .banner {
        background-image: url("../pictures/fonds/luke-chesser-pJadQetzTkI-unsplash.jpg ");
        background-size: cover;
        background-position: center center;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;

        padding-right: 40px;
      }
      
      .banner h1 {
        color: var(--blanc);
        font-size: 3rem;
        text-align: center;
        text-shadow: 2px 2px var(--gris);
        margin-bottom: 20px;
      }
      
      .banner h5{       
        color: var(--blanc);
        font-size: 1.5rem;
        text-align: center;
        text-shadow: 2px 2px var(--gris);
        margin-bottom: 20px;
      }
      .banner h6{
        color: var(--blanc);
        font-size: 1rem;
        text-align: center;
        text-shadow: 2px 2px var(--gris);
        border-left: var(--blanc) 5px solid;
        padding-left: 10px;
        margin-bottom: 20px;
    }

/* DEBUT DE CORPS   */    
    .corps{
      background-size: cover;
      background-position: center center;
      height: 100vh;
      display: flex;
      flex-direction: column;
      /* justify-content: center; */
      /* align-items: center; */
      justify-content: space-between;

      padding-right: 40px;
      background-color: var(--blanc);
    }

    .corps h1 {
      font-family: 'Cantarell', sans-serif;
      margin-top: var(--ecart-haute);
      color: var(--vert_base);
      font-size: 2.5rem;
      text-align: center;
      text-transform: uppercase;
    }
    .corps hr {
     width:10% ;
     height: 5px;
     background-color: var(--vert_base);
     text-align: center;
     margin:20px auto;
    }


/* FIN DE CORPS   */
  
  @media only screen and (max-width: 768px) {
    nav {
      flex-direction: column;
      align-items: flex-start;
    }
    .logo {
      margin-bottom: 20px;
    }
    ul {
      margin: 0;
    }
    li {
      margin: 10px 0;
    }
  }
  