:root{
    
    --bleue_base:#06668C;
    --bleue_second:#427AA1;
    --blanc:#EBF2FA;
    --blanc-claire:#fff;
    --vert_base:#679436;
    --vert_second:#A4BD01;
    --gris:#333;
    --gris-claire:#ddd;
    --ecart-haute:50px;

    /* autres fonds*/
    --fond1:rgb(252, 246, 246);
    --fond2:#f6fbfd;
    --fond3:#faf6f0;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}
 
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
 

/* header */


  
  
    nav {
      
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

        font-family: 'Roboto', sans-serif;
        background-color: var(--blanc);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
    }
    
    .logo img {
        height: 50px;
    }
    
    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    li {
        margin: 0 10px;
    }
    
    a {
        text-decoration: none;
        color: var(--gris);
    }
    .active{
        color: var(--bleue_base) !important;
        font-weight: bold;
    }


    .banner {
        background-image: url("../pictures/fonds/luke-chesser-pJadQetzTkI-unsplash.jpg ");
        background-size: cover;
        background-position: center center;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;

        padding-right: 40px;
      }
      
      .banner h1 {
        color: var(--blanc);
        font-size: 3rem;
        text-align: center;
        text-shadow: 2px 2px var(--gris);
        margin-bottom: 20px;
      }
      
      .banner h5{       
        color: var(--blanc);
        font-size: 1.5rem;
        text-align: center;
        text-shadow: 2px 2px var(--gris);
        margin-bottom: 20px;
      }
      .banner h6{
        color: var(--blanc-claire);
        font-size: 1rem;
        text-align: center;
        text-shadow: 2px 2px var(--gris);
        border-left: var(--blanc-claire) 5px solid;
        padding-left: 10px;
        margin-bottom: 20px;
    }

/* DEBUT DE CORPS   */  


    .corps{
      background-size: cover;
      background-position: center center;
      height: 100vh;
      display: flex;
      flex-direction: column;
      /* justify-content: center; */
      /* align-items: center; */
      justify-content: space-between;

      padding: 20px;
      background-color: var(--blanc-claire);
    }

    .corps h1 {
      font-family: 'Cantarell', sans-serif;
      margin-top: var(--ecart-haute);
      color: var(--gris);
      font-size: 2.5rem;
      text-align: center;
      text-transform: uppercase;
    }
    .corps hr {
     width:8% ;
     height: 5px;
     background-color: var(--bleue_base);
     text-align: center;
     margin:20px auto;
    }

    .toyota_yaris{
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-top: var(--ecart-haute);
      gap: 20px;
      align-items: center;
    }

    .toyota_yaris img{
      height: 60vh;
    }
    .toyota_yaris .un {
      text-transform: capitalize;
      font-size: 1.5rem;
      font-family: 'Lato', sans-serif;
      color: var(--bleue_second);
    }
    .toyota_yaris .deux {
      text-transform: lowercase;
      font-size: 1rem;
      font-family: 'Lato', sans-serif;
      
    }

    .toyota_yaris .deux ol {
      list-style: none;
      color: var(--gris);
      
    }
    .toyota_yaris .deux ol li {
    margin-bottom: 4px;
        
    }


/* FIN DE CORPS   */

/* DEBUT DE GAME */
.game_toyota{
  background-size: cover;
  background-position: center center;
  height: 100vh;
  /* display: flex;
  flex-direction: column; */
  /* justify-content: center; */
  align-items: center;
  /* justify-content: space-between; */

  padding: 20px;
  background-color : var(--fond3);
}

  .game_toyota h1 {
    font-family: 'Cantarell', sans-serif;
    margin-top: var(--ecart-haute);
    color: var(--gris);
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
  }
  .game_toyota hr {
  width:8% ;
  height: 5px;
  background-color: var(--bleue_base);
  text-align: center;
  margin:20px auto;
  }

  .game_toyota .list_voitures{

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    

  }
  .list_voitures_items{
    font-family: 'Lato', sans-serif;
    height: 50vh;
    border-radius: 5px;
    border-bottom: var(--vert_base) 2px solid;
    padding: 10px;
    color: var(--gris);
    
  }
  .list_voitures_items h3{
  font-family: 'Lato', sans-serif;
  color: #679436;
    
  }
  .list_voitures_items h4{
    font-family: 'Lato', sans-serif;
    color:black;    
  }
  .list_voitures_items h5{
    padding-top: 5px;
    font-family: 'Lato', sans-serif;
    color:var(--gris);    
  }

  .list_voitures_items img{
    height: 30vh;
  }
  .list_voitures_items:hover{
    background-color: var(--blanc-claire);
    border-bottom: var(--vert_second) 2px solid;
  }
  .list_voitures_items:hover h3{
  color: var(--vert_second);
  }

  .list_voitures_items a{
    position:relative;
    top:15px;
    /*border: 1px solid rgb(21, 255, 0) ;
    */border-radius: 10px;
    padding: 10px;
    text-transform: capitalize;
    font-weight: bold;
    background-color: var(--vert_second);
    color: var(--blanc-claire);

}
.list_voitures_items a:hover{
  border: 1px var(--vert_second) solid ;
  border-radius: 10px;
  color: var(--vert_second);
  background-color: var(--blanc-claire);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.catalogues{
  font-family: 'Cantarell', sans-serif;
  
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  border-radius: 20px;
  border: 1px var(--vert_second) solid ;
  margin: var(--ecart-haute) auto;
  width: 20%;
  padding: 10px;
  color: var(--vert_base);
}

.catalogues:hover{
  font-weight: bold;
}
/* FIN DE GAMMES */




  @media only screen and (max-width: 768px) {
    nav {
      flex-direction: column;
      align-items: flex-start;
    }
    .logo {
      margin-bottom: 20px;
    }
    ul {
      margin: 0;
    }
    li {
      margin: 10px 0;
    }
  }
  