form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-top: 10px;
    font-size: 18px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }

  .banner_contact{
    background-color: var(--blanc-claire);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    gap:50px;
    /* padding: 100px; */
    
  }
  /* .banner img{
    height: 70vh;
  }

  .banner .mon_formulaire{
    height: 50vh;
  } */
  .main_contact{
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 80%;
    background-color: #f2f2f2;
    padding: 50px;
    margin-top: 100px;
  }

  .main_contact .items{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
  }

  .main_contact .items label{
    text-transform: capitalize;
    color: var(--bleue_base);
  }
  .container_items{
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
    /* border: #45a049 1px solid; */
  }

  .main_contact .items input, textarea{
      width: 250px;
  }

  .container_items_souhait{
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
    /* border: #45a049 1px solid; */
  }

  .items p{
    padding-top: 30px;
    color:#797676 ;
    font-family: 'lato', sans-serif;
    font-size: 1.1rem;
    font-style: italic;
  }