
		body {
			font-family: Arial, sans-serif;
            padding: 0;
            margin: 0;
			/* background-color: #f2f2f2; */
		}

        .main{
            width: 80%;
            height: fit-content;
            margin: 10px auto;
            background-color: #faf8f8;
            padding: 20px;  
            display: flex;
            flex-direction: column;
             
        }
		 

        .vente_flex{
            display: flex;
            width: 100%;
            background-color: var(--blanc);
			padding: 20px;
            text-align: center;
            justify-content: center;
			/* border-radius: 10px;
			box-shadow: 0 0 10px rgba(0,0,0,0.2); */
			max-width: 100%;
			 
            
        }
        .vente_flex img{
            height: 10vh;
        }
        .vente_flex h2{
            margin-left: 20px;
            font-family: 'lato', sans-serif;
            text-align: center;
            font-size: 3rem;
            vertical-align: baseline;
            color: var(--bleue_base);
        }

        .vente_container{
            display: flex;
            flex-direction: row;
            width: 100%;
            background-color: #fff;
			padding: 20px;
			border-radius: 10px;
			/* box-shadow: 0 0 10px rgba(0,0,0,0.2);
			max-width: 800px; */
			margin: 20px auto;
            gap: 20px;

        }
        .vente_container h2{
            text-transform: capitalize;
            color: var(--bleue_base);
            margin-bottom: 20px;
        }
        .vente_container img{
            height: 40vh;
        }

        .vente_dist{
            display: flex;
            flex-direction: column;
            width: 100%;
            background-color: #fff;
			padding: 20px;
			border-radius: 10px;
			/* box-shadow: 0 0 10px rgba(0,0,0,0.2);
			max-width: 800px; */
			
            gap: 20px;

        }
        .vente_accepte{
            display: flex;
            flex-direction: column;
            width: 100%;
            background-color: #fff;
			padding: 20px;
			border-radius: 10px;
			/* box-shadow: 0 0 10px rgba(0,0,0,0.2);
			max-width: 800px; */
			margin: 20px auto;
            gap: 20px;

        }
        .vente_accepte_card{
            display: flex;
            flex-direction: row;
            gap: 50px;
        }
        .vente_accepte_card img{
            height:8vh;
        }
        .vente_accepte_card a{
           border-radius: 30px;
           padding: 20px;
           color:  var(--blanc-claire);
           -webkit-border-radius: 30px;
           -moz-border-radius: 30px;
           -ms-border-radius: 30px;
           -o-border-radius: 30px;
}
        .vente_accepte_card .commande{
            border: 1px solid;
            background-color: var( --vert_base);
         
        }
        .vente_accepte_card .annuler{
            background-color: var(--rouge);
        }